/forraskod/dompdf/
/forraskod/feed/
/forraskod/rss.xml
/forraskod/generateszertartasok.php
/forraskod/regifajlok/
/forraskod/config.php
/forraskod/kepek/
/backup/
/db/
/dbdump/
.DS_Store
/forraskod/vendor
/forraskod/css/colortest.html
/.vscode/
/forraskod/img
/forraskod/indextest.php
todo.txt